@import '_colors';

.alert, .alert--success {
    background-color: $alert-color;
    color: $principal-color;
    padding: .3125rem;
    border-radius: .625rem;
    width: 100%;
    text-align: center;
}

.alert--success {
    background-color: $alert-success-color;
    color: $principal-color;
}