@import '_colors';

.alert, .alert--success {
    background-color: $alert-color;
    color: $text-secondary-color;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.alert--success {
    background-color: $alert-success-color;
}