@import '_fonts';
@import '_colors';

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

a, button {
    text-decoration: none;
    cursor: pointer;
    color: $text-color;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $principal-font;
    text-align: center;
    color: $text-color;
}

h1 {
    font-size: 60px;
}

p, a, button, option, span, summary {
    font-family: $secondary-font;
}

h1 {
    @media screen and (max-width: 480px) {
        font-size: 18px;
    }
}