button {
    padding: 10px;
    background-color: #190482;
    border-radius: 10px;
    border: 1px solid #7752FE;
    width: 100%;
    box-shadow: 0 0 5px rgba(0 , 0, 0, 0.5);
    transition: transform 0.2s;

    &:hover {
        background-color: #7752FE;
    }
    
    &:active {
        transform: scale(0.95);
        color: #190482;
}
}
