@import '_colors';

button {
    background-color: $button-color;
    color: $principal-color;
    padding: .625rem;
    border: none;
    border-radius: .625rem;
    width: 100%;
    box-shadow: 0 0 .3125rem rgba(0 , 0, 0, 0.5);
    transition: transform 0.2s;
    font-weight: bold;
    &:hover {
        background-color: $button-hover-color;
    }
    
    &:active {
        transform: scale(0.95);
        color: $principal-color;
    }
}

.button--delete {
    background-color: $alert-color;
    border-color: $alert-color;

    &:hover {
        background-color: $button-hover-color-alert;
    }
}

// buttons patient card desing
.buttons-patiens {
    display:  flex;
    flex-direction: row;
    width: 100%;
    margin: .3125rem;
    gap: .3125rem;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        width: 100%;
    }
}