$principal-color: #EEF5FF;
$secondary-color: #B4D4FF;
$text-color: #000;
$text-secondary-color: #176B87;
$button-color: #176B87;
$button-hover-color: #86B6F6;
$alert-color: #BF3131;
$button-hover-color-alert: #7D0A0A;
$alert-success-color: #386641;