@import '_flex';

footer {
    color: aliceblue;
    padding: 10px;
    @include flex(flex, row, nowrap, center, center, 50px);

    span {
        font-weight: bold;
    }
    
    .contact-info {
        @include flex(flex, column, nowrap, center, center, 10px);
    }
}