@import '_flex';
@import '_colors';

footer {
    color: $text-secondary-color;
    padding: .625rem;
    box-shadow: -0.625rem 0 .625rem rgba(0, 0, 0, 0.5);
    @include flex(flex, row, nowrap, center, center, 3.125rem);

    span {
        font-weight: bold;
    }
    
    .contact-info {
        @include flex(flex, column, nowrap, center, center, 10px);
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        padding-bottom: 1.25rem;
    }
}