@import '_flex';
@import '_alert';

form {
    @include flex(flex, column, nowrap, center, center, 15px);
    background: #8E8FFA;
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 10px;
    color: #C2D9FF;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0,  0, 0.5);

    input{
    padding: 5px;
    border: none;
    min-width: 100%;
    border-radius: 10px;
    }

    nav {
        @include flex(flex, row, nowrap, space-between, center);
        width: 100%;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            gap: 10px;
        }
    }
}