@import '_flex';
@import '_alert';
@import '_colors';

.form-access {
    @include flex(flex,column,nowrap,center,center,.9375rem);
    background: $secondary-color;
    backdrop-filter: blur(1.25rem);
    padding: 1.25rem;
    border-radius: .625rem;
    color: $text-color;
    margin: .625rem;
    box-shadow: 0 0 .625rem rgba(0, 0,  0, 0.5);
    input {
    padding: .3125rem;
    border: none;
    min-width: 100%;
    border-radius: .625rem;
}

    nav {
        @include flex(flex, row, nowrap, space-between, center);
        width: 100%;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            gap: .625rem;
        }
    }
}

