@import '_flex';
@import '_colors';

.form-patiens {
    margin: .625rem;
    color: $text-secondary-color;

    details {
        font-weight: bold;
        cursor: pointer;
    }

    summary, label , input, select {
        margin: 5px 0;
    }

    textarea {
        margin: .3125rem;
        width: 100%;
        min-height: 6.25rem;
        resize: none;
    }
}