@import '_flex';

header {
    width: 100%;
    padding: 0 10px;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.5);
    @include flex(flex, row, wrap,  space-between, center);

    @media screen and (max-width: 650px) {
        flex-direction: column;
    }
}