// form layOut
.form  {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 0 2.5rem;
}

.form-canvas {
    cursor: grab;
}

@media screen and (max-width: 768px) {
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
}